.single-project(data-id='1')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo1.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
			li
				img.single-project-img(alt='', src='upload/photo4.jpg')
			li
				img.single-project-img(alt='', src='upload/photo5.jpg')
			li
				img.single-project-img(alt='', src='upload/photo6.jpg')
			li
				img.single-project-img(alt='', src='upload/photo7.jpg')
			li
				img.single-project-img(alt='', src='upload/photo8.jpg')
			li
				img.single-project-img(alt='', src='upload/photo9.jpg')
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo1.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
			li
				img(alt='', src='upload/photo4.jpg')
				h3.carousel-caption 4-th Slide
			li
				img(alt='', src='upload/photo5.jpg')
				h3.carousel-caption 5-th Slide
			li
				img(alt='', src='upload/photo6.jpg')
				h3.carousel-caption 6-th Slide
			li
				img(alt='', src='upload/photo7.jpg')
				h3.carousel-caption 7-th Slide
			li
				img(alt='', src='upload/photo8.jpg')
				h3.carousel-caption 8-th Slide
			li
				img(alt='', src='upload/photo9.jpg')
				h3.carousel-caption 9-th Slide
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 10-th Slide
.single-project(data-id='2')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo15.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo15.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='3')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo4.jpg')
			li
				img.single-project-img(alt='', src='upload/photo5.jpg')
			li
				img.single-project-img(alt='', src='upload/photo6.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo4.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo5.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo6.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='4')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo5.jpg')
			li
				img.single-project-img(alt='', src='upload/photo8.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo5.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo8.jpg')
				h3.carousel-caption 2-nd Slide
.single-project(data-id='5')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo6.jpg')
			li
				img.single-project-img(alt='', src='upload/photo9.jpg')
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo6.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo9.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='6')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo7.jpg')
			li
				img.single-project-img(alt='', src='upload/photo4.jpg')
			li
				img.single-project-img(alt='', src='upload/photo8.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo7.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo4.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo8.jpg')
				h3.carousel-caption 3-th Slide
.single-project(data-id='7')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo8.jpg')
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo8.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 2-nd Slide
.single-project(data-id='8')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo9.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
			li
				img.single-project-img(alt='', src='upload/photo4.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo9.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
			li
				img(alt='', src='upload/photo4.jpg')
				h3.carousel-caption 4-th Slide
.single-project(data-id='9')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='10')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo11.jpg')
			li
				img.single-project-img(alt='', src='upload/photo9.jpg')
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo11.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo9.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='11')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo12.jpg')
			li
				img.single-project-img(alt='', src='upload/photo4.jpg')
			li
				img.single-project-img(alt='', src='upload/photo5.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo12.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo4.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo5.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='12')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo13.jpg')
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo13.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 2-nd Slide
.single-project(data-id='13')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo14.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo14.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
.single-project(data-id='14')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo15.jpg')
			li
				img.single-project-img(alt='', src='upload/photo8.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo15.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo8.jpg')
				h3.carousel-caption 2-nd Slide
.single-project(data-id='15')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo16.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
			li
				img.single-project-img(alt='', src='upload/photo4.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo16.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
			li
				img(alt='', src='upload/photo4.jpg')
				h3.carousel-caption 4-th Slide
.single-project(data-id='16')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo17.jpg')
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo17.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 2-nd Slide
.single-project(data-id='17')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo18.jpg')
			li
				img.single-project-img(alt='', src='upload/photo9.jpg')
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo18.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo9.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='18')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo19.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo19.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='19')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo20.jpg')
			li
				img.single-project-img(alt='', src='upload/photo8.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo20.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo8.jpg')
				h3.carousel-caption 2-nd Slide
.single-project(data-id='20')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo21.jpg')
			li
				img.single-project-img(alt='', src='upload/photo7.jpg')
			li
				img.single-project-img(alt='', src='upload/photo8.jpg')
			li
				img.single-project-img(alt='', src='upload/photo9.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo21.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo7.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo8.jpg')
				h3.carousel-caption 3-rd Slide
			li
				img(alt='', src='upload/photo9.jpg')
				h3.carousel-caption 4-th Slide
.single-project(data-id='21')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo22.jpg')
			li
				img.single-project-img(alt='', src='upload/photo7.jpg')
			li
				img.single-project-img(alt='', src='upload/photo8.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo22.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo7.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo8.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='22')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
.single-project(data-id='23')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo24.jpg')
			li
				img.single-project-img(alt='', src='upload/photo7.jpg')
			li
				img.single-project-img(alt='', src='upload/photo8.jpg')
			li
				img.single-project-img(alt='', src='upload/photo9.jpg')
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo24.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo7.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo8.jpg')
				h3.carousel-caption 3-rd Slide
			li
				img(alt='', src='upload/photo9.jpg')
				h3.carousel-caption 4-th Slide
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 5-th Slide
.single-project(data-id='24')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo25.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo25.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
.single-project(data-id='25')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo26.jpg')
			li
				img.single-project-img(alt='', src='upload/photo9.jpg')
			li
				img.single-project-img(alt='', src='upload/photo10.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo26.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo9.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo10.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='26')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo27.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo27.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='27')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo28.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo28.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='28')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo29.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo29.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='29')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo30.jpg')
			li
				img.single-project-img(alt='', src='upload/photo2.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo30.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo2.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide
.single-project(data-id='30')
	.single-project-controls
		a.single-project-prev(href='#')
			i.controls-icon.zmdi.zmdi-chevron-left
			span.controls-desc prev project
		a.single-project-next(href='#')
			span.controls-desc next project
			i.controls-icon.zmdi.zmdi-chevron-right
		a.single-project-close.zmdi.zmdi-close(href='#')
	.single-project-description
		h1.title Circuit Running
		p.text
			| Proin gravida nibh vel velit auctor aliquet. Aeneanv sollicitudin, lorem quis bibendum auctor, nisi elit consequat lorem
	.single-project-slider.flexslider
		ul.slides
			li
				img.single-project-img(alt='', src='upload/photo31.jpg')
			li
				img.single-project-img(alt='', src='upload/photo32.jpg')
			li
				img.single-project-img(alt='', src='upload/photo23.jpg')
	.single-project-carousel.flexslider
		ul.slides
			li
				img(alt='', src='upload/photo31.jpg')
				h3.carousel-caption 1-st Slide
			li
				img(alt='', src='upload/photo32.jpg')
				h3.carousel-caption 2-nd Slide
			li
				img(alt='', src='upload/photo23.jpg')
				h3.carousel-caption 3-rd Slide