extends ../../layout/_default

block title
	title Kollar

block link-css
	include _projects-link-css

block filter
	include _projects-filter

block page
	include _projects-list-page

block link-js
	include _projects-link-js

