.single-project-wrap
.project-content
	.post.print.model-3d.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo1.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='1')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.photo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo2.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='2')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.photo.model-3d
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo4.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='3')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo5.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='4')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.model-3d.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo6.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='5')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.photo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo7.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='6')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.photo.model-3d
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo8.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='7')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo9.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='8')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.model-3d
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo10.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='9')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.photo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo11.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='10')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.photo.model-3d
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo12.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='11')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.model-3d.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo13.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='12')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo14.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='13')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.photo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo15.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='14')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.photo.model-3d
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo16.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='15')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo17.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='16')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo18.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='17')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.photo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo19.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='18')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.photo.model-3d
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo20.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='19')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo21.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='20')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.model-3d.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo22.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='21')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.photo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo23.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='22')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.photo.model-3d
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo24.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='23')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo25.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='24')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.model-3d.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo26.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='25')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.photo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo27.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='26')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.photo.model-3d
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo28.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='27')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.model-3d.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo29.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='28')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.logo.photo.furniture
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo30.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='29')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')
	.post.print.photo.model-3d
		.post-gallery
			img.open.single-project-img(alt='', src='upload/photo31.jpg')
		.post-content
			h3.post-content-title Kollar Theme
			p.post-content-desk Unique & Creative Full Screen Portfolio
			a.project(href='#', data-id='30')
				i.project-icon.zmdi.zmdi-folder-outline
				| Go to project
			a.icon-expand.project-zoom(href='#')
		.large-post
			a.zmdi.zmdi-close.close(href='#')
			a.zmdi.zmdi-chevron-left.prev(href='#')
			a.zmdi.zmdi-chevron-right.next(href='#')