li.filter.main-list
	span.menu-item-link
		i.menu-item-icon.icon-adjustments
		span.menu-item-title Filter the Projects
	ul.sub-list
		li
			a.menu-item-link.active(href='#', data-filter='*') Website
		li
			a.menu-item-link(href='#', data-filter='.logo') Logo
		li
			a.menu-item-link(href='#', data-filter='.print') Print
		li
			a.menu-item-link(href='#', data-filter='.photo') Photography
		li
			a.menu-item-link(href='#', data-filter='.model-3d') 3D Modeling
		li
			a.menu-item-link(href='#', data-filter='.furniture') Furniture
