extends ../../layout/_default

block title
	title Kollar

block link-css
	include _gallery-link-css

block filter
	include _gallery-filter

block page
	include _gallery-page

block link-js
	include _gallery-link-js


