.gallery
	a.post.print.model-3d.furniture(href='upload/photo12.jpg')
		img(alt='', src='upload/photo12.jpg')
	a.post.logo.photo.furniture(href='https://youtu.be/zAPhp9LYq44?list=PLPhzSfVZvvFRhfKWbbBenLtAxxs51y4sL')
		img(alt='', src='http://img.youtube.com/vi/zAPhp9LYq44/0.jpg')
		span.gallery-icon.icon-video
	a.post.print.photo.model-3d(href='upload/photo14.jpg')
		img(alt='', src='upload/photo14.jpg')
	a.post.print.furniture(href='https://youtu.be/zAPhp9LYq44?list=PLPhzSfVZvvFRhfKWbbBenLtAxxs51y4sL')
		img(alt='', src='http://img.youtube.com/vi/zAPhp9LYq44/0.jpg')
		span.gallery-icon.icon-video
	a.post.logo.model-3d.furniture(href='upload/photo16.jpg')
		img(alt='', src='upload/photo16.jpg')
	a.post.print.photo.furniture(href='upload/photo17.jpg')
		img(alt='', src='upload/photo17.jpg')
	a.post.logo.photo.model-3d(href='upload/photo18.jpg')
		img(alt='', src='upload/photo18.jpg')
	a.post.print.furniture(href='upload/photo19.jpg')
		img(alt='', src='upload/photo19.jpg')
	a.post.logo.model-3d(href='upload/photo20.jpg')
		img(alt='', src='upload/photo20.jpg')
	a.post.photo.furniture(href='upload/photo21.jpg')
		img(alt='', src='upload/photo21.jpg')
	a.post.photo.model-3d(href='upload/photo22.jpg')
		img(alt='', src='upload/photo22.jpg')
	a.post.model-3d.furniture(href='upload/photo23.jpg')
		img(alt='', src='upload/photo23.jpg')
	a.post.logo.furniture(href='upload/photo24.jpg')
		img(alt='', src='upload/photo24.jpg')
	a.post.logo.photo.furniture(href='upload/photo2.jpg')
		img(alt='', src='upload/photo2.jpg')
	a.post.logo.photo.model-3d(href='upload/photo6.jpg')
		img(alt='', src='upload/photo6.jpg')
	a.post.print.furniture(href='upload/photo7.jpg')
		img(alt='', src='upload/photo7.jpg')
	a.post.print.model-3d(href='upload/photo8.jpg')
		img(alt='', src='upload/photo8.jpg')
	a.post.logo.photo(href='upload/photo9.jpg')
		img(alt='', src='upload/photo9.jpg')
	a.post.print.photo.model-3d(href='upload/photo10.jpg')
		img(alt='', src='upload/photo10.jpg')
	a.post.print.furniture(href='upload/photo11.jpg')
		img(alt='', src='upload/photo11.jpg')