script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.1/isotope.pkgd.min.js')
script(type='text/javascript', src='https://npmcdn.com/isotope-packery@2/packery-mode.pkgd.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lightgallery-all.min.js')
//script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lightgallery.min.js')
//script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lg-video.min.js')
script(type='text/javascript', src='js/script.js')
script(type='text/javascript', src='js/gallery.js')