link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
//link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/css/perfect-scrollbar.min.css', type='text/css', media='screen')
block link-css
link(rel='stylesheet', href='css/style.css', type='text/css', media='screen')