.blog
	.blog-post
		a(href='singlepost.html')
			img(alt='', src='upload/photo1.jpg')
		.blog-content
			h4.blog-title
				a(href='singlepost.html') The Envato Support Team
			p.blog-text
				| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
			ul.blog-meta
				li
					i.zmdi.zmdi-time
					| 12 November, 2012
				li
					i.zmdi.zmdi-comment
					| 4 Comments
				li
					i.zmdi.zmdi-favorite
					| 47 Likes
	.blog-post
		a(href='singlepost.html')
			img(alt='', src='upload/photo26.jpg')
		.blog-content
			h4.blog-title
				a(href='singlepost.html') Freebies on AppStorm
			p.blog-text
				| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
			ul.blog-meta
				li
					i.zmdi.zmdi-time
					| 12 November, 2012
				li
					i.zmdi.zmdi-comment
					| 4 Comments
				li
					i.zmdi.zmdi-favorite
					| 47 Likes
	.blog-post
		a(href='singlepost.html')
			img(alt='', src='upload/photo27.jpg')
		.blog-content
			h4.blog-title
				a(href='singlepost.html') Just Four More Sleeps till the Bundle
			p.blog-text
				| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
			ul.blog-meta
				li
					i.zmdi.zmdi-time
					| 12 November, 2012
				li
					i.zmdi.zmdi-comment
					| 4 Comments
				li
					i.zmdi.zmdi-favorite
					| 47 Likes
	.blog-post
		a(href='singlepost.html')
			img(alt='', src='upload/photo25.jpg')
		.blog-content
			h4.blog-title
				a(href='singlepost.html') The Envato Support Team
			p.blog-text
				| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
			ul.blog-meta
				li
					i.zmdi.zmdi-time
					| 12 November, 2012
				li
					i.zmdi.zmdi-comment
					| 4 Comments
				li
					i.zmdi.zmdi-favorite
					| 47 Likes
	.blog-post
		a(href='singlepost.html')
			img(alt='', src='upload/photo8.jpg')
		.blog-content
			h4.blog-title
				a(href='singlepost.html') The Envato Support Team
			p.blog-text
				| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
			ul.blog-meta
				li
					i.zmdi.zmdi-time
					| 12 November, 2012
				li
					i.zmdi.zmdi-comment
					| 4 Comments
				li
					i.zmdi.zmdi-favorite
					| 47 Likes
	.blog-post
		a(href='singlepost.html')
			img(alt='', src='upload/photo9.jpg')
		.blog-content
			h4.blog-title
				a(href='singlepost.html') The Envato Support Team
			p.blog-text
				| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
			ul.blog-meta
				li
					i.zmdi.zmdi-time
					| 12 November, 2012
				li
					i.zmdi.zmdi-comment
					| 4 Comments
				li
					i.zmdi.zmdi-favorite
					| 47 Likes
	.blog-post
		a(href='singlepost.html')
			img(alt='', src='upload/photo28.jpg')
		.blog-content
			h4.blog-title
				a(href='singlepost.html') The Envato Support Team
			p.blog-text
				| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
			ul.blog-meta
				li
					i.zmdi.zmdi-time
					| 12 November, 2012
				li
					i.zmdi.zmdi-comment
					| 4 Comments
				li
					i.zmdi.zmdi-favorite
					| 47 Likes
	.blog-post
		a(href='singlepost.html')
			img(alt='', src='upload/photo11.jpg')
		.blog-content
			h4.blog-title
				a(href='singlepost.html') The Envato Support Team
			p.blog-text
				| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
			ul.blog-meta
				li
					i.zmdi.zmdi-time
					| 12 November, 2012
				li
					i.zmdi.zmdi-comment
					| 4 Comments
				li
					i.zmdi.zmdi-favorite
					| 47 Likes

