.blog1
	img.static-content-img(src='upload/photo27.jpg')
	.singlepost
		img(src='upload/photo25.jpg')
		.blog-content
			h3.blog-title
				a(href='singlepost.html#') The Envato Support Team
			.blog-text
				p
					| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
				p
					| Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
			ul.blog-meta
				li
					i.zmdi.zmdi-time
					| 12 November, 2012
				li
					i.zmdi.zmdi-comment
					| 4 Comments
				li
					i.zmdi.zmdi-favorite
					| 47 Likes
		h5.comment-count 5 Comments
		.single-comment
			img.single-comment-avatar(alt='', src='images/comment2.png')
			.single-comment-content
				.single-comment-info
					| LanceSnide
					span.single-comment-meta 8 October, 2012 / 16:22pm
				p.single-comment-text
					| malesuada sit amet dolo
		h5.comment-leave Leave a Comment
		form
			input(type='text', placeholder='Name', value='')
			input(type='text', placeholder='mail', value='')
			input(type='text', placeholder='subject', value='')
			textarea(rows=5 placeholder='Comment')
			input(type='submit', value='blog a comment')
	.sidebar
		.widget.popular-widget
			h4.widget-title Popular Posts
			.popular-widget-blog
				a.widget-blog-img(href='#')
					img(alt='', src='upload/single-post1.jpg')
				.widget-blog-content
					a.widget-blog-title(href='#') Modern kitchen design ideas with white contemporary
					ul.blog-meta
						li
							i.zmdi.zmdi-time
							| 12 November, 2012
						li
							i.zmdi.zmdi-comment
							| 4 Comments
						li
							i.zmdi.zmdi-favorite
							| 47 Likes
			.popular-widget-blog
				a.widget-blog-img(href='#')
					img(alt='', src='upload/single-post2.jpg')
				.widget-blog-content
					a.widget-blog-title(href='#') Modern kitchen design ideas with white contemporary
					ul.blog-meta
						li
							i.zmdi.zmdi-time
							| 12 November, 2012
						li
							i.zmdi.zmdi-comment
							| 4 Comments
						li
							i.zmdi.zmdi-favorite
							| 47 Likes
			.popular-widget-blog
				a.widget-blog-img(href='#')
					img(alt='', src='upload/single-post3.jpg')
				.widget-blog-content
					a.widget-blog-title(href='#') Modern kitchen design ideas with white contemporary
					ul.blog-meta
						li
							i.zmdi.zmdi-time
							| 12 November, 2012
						li
							i.zmdi.zmdi-comment
							| 4 Comments
						li
							i.zmdi.zmdi-favorite
							| 47 Likes
			.popular-widget-blog
				a.widget-blog-img(href='#')
					img(alt='', src='upload/single-post4.jpg')
				.widget-blog-content
					a.widget-blog-title(href='#') Modern kitchen design ideas with white contemporary
					ul.blog-meta
						li
							i.zmdi.zmdi-time
							| 12 November, 2012
						li
							i.zmdi.zmdi-comment
							| 4 Comments
						li
							i.zmdi.zmdi-favorite
							| 47 Likes
		.widget.text-widget
			h4.widget-title Text Widget
			p.blog-text
				| Formerly known as the Admin Bar, the Toolbar has links to various administration functions, and is displayed at the top of
		.widget.text-widget
			h4.widget-title Text Widget
			p.blog-text
				| Formerly known as the Admin Bar, the Toolbar has links to various administration functions, and is displayed at the top of

