script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCmMo7LADTa6GH1klMi8M9k3mYYmQr-uTA')
script(type='text/javascript', src='js/script.js')
script(type='text/javascript', src='js/contacts.js')