.contact-content
	#map
	ul.contact-info
		li
			h5.title Contact Us
		li.info-item
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis facilisis vehicula. Nulla consectetur elementum sapien at consectetur. Pellentesque et leo id elit vulputate elementum. Nam semper facilisis sapien, at cursus mauris fringilla a. Praesent porta, dolor quis sollicitudin consectetur, ligula libero eleifend libero, sed conse
		li.info-item
			a(href='#') support@nextwpthemes.com
		li.info-item +38649 123 456
		li.info-item
			a(href='#') www.envato.com
	.contact-form-wrap
		h5.title Send us a message
		form.contact-form
			input(type='text', placeholder='Name')
			input(type='text', placeholder='Mail')
			input(type='text', placeholder='Subject')
			textarea(rows=5 placeholder='Message')
			input(type='submit', value='Send a Message')
	a.contact-switcher(href='#')
		.switch-map
			span.contact-icon.icon-map
			h6 Full map
		.switch-content
			span.contact-icon.icon-book-open
			h6 Contact

